*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-size: 13px;
  font-family: arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img,
button,
i {
  cursor: pointer;
}

.nav {
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav .google-avatar img {
  border-radius: 100%;
  border: 1px solid rgba(204, 198, 198, 0.5);
}
.nav-link {
  margin: 0 1.25rem;
}

section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section .google-search-bar {
  border-radius: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(223, 223, 223);
}

section .google-search-bar:focus {
  border: 1px solid white;
  outline: 0px solid white;
  box-shadow: 0px 1px 5px 1px rgb(223, 223, 223);
}

section .google-search-bar:hover {
  border: 1px solid white;
  outline: 0px solid white;
  box-shadow: 0px 1px 5px 1px rgb(223, 223, 223);
}

section .google-search-bar input {
  height: 2.8rem;
  width: 36rem;
  margin: 0px;
  box-shadow: none;
  border: none;
}

section .google-search-bar input:focus {
  outline: none;
}

section .google-search-bar .google-icon {
  margin: 0 1rem;
}

section .google-group-button button {
  margin: 0.3125rem;
  padding: 0.5rem 0.75rem;
  background-color: #eeeeee;
  color: #5d5d5d;
  border-radius: 5px;
  border: none;
}

section .google-group-button button:hover {
  border: 1px solid white;
}

footer > div {
  padding: 1rem 2rem;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}

footer a {
  margin: 0 0.5rem;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.54);
}

footer .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e4e4e4;
}
